.wrapper {

  @apply relative mt-5 ;
  
  z-index: 0;
  
  &--main{
    @apply relative grid w-full h-full;
    grid-template-areas: "sidebar products";
    grid-template-rows: 1fr;
    grid-template-columns: 25% 75%;

    &--sidebar {
      grid-area: sidebar;
      @apply fixed ;
    }
  
    &--content {
      grid-area: products;
      @apply overflow-y-scroll;  
      


    }
  }
  
  
}
