.wrapper {
  @apply grid w-screen h-full;
  grid-template-areas: "sidebar products";
  grid-template-rows: 1fr;
  grid-template-columns: 20% 80%;

  &--sidebar {
    @apply sticky top-56;
    grid-area: sidebar;
  }

  &--content {
    grid-area: products;
    @apply overflow-y-scroll;
  }
}
